@use 'sass:map';

@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

$font-main: 'Commissioner', sans-serif;

$theme-colors: (
  'primary': hsl(176, 50%, 47%),
  'secondary': hsl(176, 72%, 28%),
  'black': hsl(0, 0%, 0%),
  'gray': hsl(0, 0%, 48%),
  'light-gray': rgb(244, 248, 249),
  'background': rgb(250, 250, 250)
);

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-main;
  background-color: map.get($theme-colors, 'background');
}

// Texts
h1, h2, h3, h4, h5, h6 {
  color: map.get($theme-colors, 'black');
}

p {
  color: map.get($theme-colors, 'gray');
  line-height: 1.6rem;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1.4rem;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
  z-index: 99999;
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 80px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .nav-menu-hamburger {
    width: 50px;
    height: 50px;
    margin-right: -1rem;
    background-image: url(../public/images/icon-hamburger.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .nav-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 6rem 1.4rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.00));
    z-index: -1;

    .nav-menu__links {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      max-width: 730px;
      margin: 0 auto;
      padding: 0;
      list-style: none;
      background-color: map.get($theme-colors, 'background');
      border-radius: 8px;
      overflow: hidden;

      li {
        width: 100%;
        border-top: 1px solid gainsboro;

        &:first-child {
          border-top: none;
        }

        a {
          display: inline-block;
          width: 100%;
          padding: 1.6rem 1.4rem;
          color: map.get($theme-colors, 'black');
          font-size: 1.2rem;
          font-weight: 500;
          text-decoration: none;
          transition: .2s background-color ease;
          cursor: pointer;

          &:hover {
            background-color: gainsboro;
          }
        }
      }
    }
  }
}

// Buttons
button:disabled {
  background-color: rgb(203, 203, 203);
  color: #fff;
  cursor: not-allowed;
}

.button {
  min-height: 56px;
  max-height: 56px;
  margin: 0;
  padding: 1rem 2.8rem;
  border: none;
  border-radius: 32px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  transition: .4s background-color ease;
}

.button-primary {
  background-color: map.get($theme-colors, 'primary');
  color: #fff;

  &:hover {
    background-color: map.get($theme-colors, 'secondary');
  }
}

.button-icon {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  min-height: 56px;
  max-height: 56px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 32px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  transition: .4s all ease;

  &.bookmarked {
    background-color: map.get($theme-colors, 'light-gray');

    img {
      content: url(../public/images/icon-bookmark-primary.svg);
    }

    small {
      color: map.get($theme-colors, 'secondary');
    }
  }

  &:hover {
    opacity: 75%;
  }

  small {
    display: none;
    margin: 0 2rem 0 1rem;
    color: gray;
    font-size: 1rem;
  }
}

.button-close {
  appearance: none;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  background-image: url(../public/images/icon-close-menu-solid.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  outline: none;
  opacity: 50%;
  cursor: pointer;
  transition: .4s opacity ease;

  &:hover {
    opacity: 100%;
  }
}

// Inputs
.input {
  margin: 0;
  padding: 1rem .8rem;
  border: 1px solid gainsboro;
  border-radius: 32px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  outline: none;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    border: 1px solid map.get($theme-colors, 'primary');
  }
}

.input-radio {
  appearance: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 24px;
  height: 24px;
  margin: 0;
  border: 1px solid gainsboro;
  border-radius: 100%;
  transition: .4s all ease;
  cursor: pointer;

  &::before {
    content: '';
    display: none;
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: map.get($theme-colors, 'primary');
    border-radius: 100%;
  }

  &:hover {
    border: 1px solid map.get($theme-colors, 'primary');
  }

  &:checked {

    &::before {
      display: block;
    }
  }
}

.page-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -999;
}

.panel {
  width: 100%;
  max-width: 730px;
  margin: 0 auto;
  padding: 1.4rem;
  background-color: #fff;
  border: 1px solid gainsboro;
  border-radius: 10px;
}

#crowdfunding-section {
  padding: 14rem 0 2rem;

  .container {
    display: flex;
    flex-flow: column wrap;
    gap: 1.4rem;
  }

  // CrowdFundingHeader
  .header-panel {
    position: relative;

    > h1, > p {
      text-align: center;
    }

    p {
      font-size: .9rem;
    }

    > img {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
    }

    .button-group {
      display: flex;
      flex-direction: row nowrap;
      align-items: center;
      justify-content: space-between;
    }
  }

  // CrowdFundingStats
  .stats-panel {

    .stats {
      display: flex;
      flex-flow: column wrap;
      gap: 1rem;
      text-align: center;

      .stat {

        b {
          display: block;
          margin-bottom: .4rem;
          color: map.get($theme-colors, 'black');
          font-size: 2rem;
        }
      }

      .line {
        width: 100px;
        height: 1px;
        margin: 0 auto;
        background-color: gainsboro;
      }
    }

    .stats-progress-bar {
      width: 100%;
      min-height: 12px;
      margin: 1rem 0;
      background-color: map.get($theme-colors, 'background');
      border-radius: 32px;

      .stats-progress-bar__fill {
        width: 0%;
        min-height: 12px;
        background-color: map.get($theme-colors, 'primary');
        border-radius: 32px;
      }
    }
  }

  .about-panel {

    > p {
      font-size: .9rem;
    }

    .crowd-funding__projects {
      display: grid;
      grid-template-columns: 1;
      gap: 1rem;

      .crowd-funding__project {

        &.disabled {
          cursor: not-allowed;
          opacity: 50%;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

        .project-title {
          display: flex;
          flex-flow: column wrap;

          h3 {
            margin: 0 0 .4rem;
            font-size: 1rem;
          }

          p {
            margin: 0;
            color: map.get($theme-colors, 'primary');
            font-weight: 500;
          }
        }

        .project-description {
          font-size: 15px;
        }

        .project-controls {
          display: flex;
          align-items: flex-start;
          flex-flow: column wrap;

          p {
            margin: 2rem 0;

            b {
              color: map.get($theme-colors, 'black');
              font-size: 2rem;
              vertical-align: bottom;
            }
          }
        }
      }
    }
  }
}

// Modals
.project-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  padding: 8rem 1.4rem;
  background: rgba(0, 0, 0, 0.35);
  overflow-y: scroll;
  z-index: 999;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .modal-panel {
    max-width: 730px;
    margin: 0 auto;
    padding: 2rem 1.4rem;
    background-color: #fff;
    border-radius: 10px;

    .modal-panel__title {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;

      h2 {
        margin: 0;
        font-size: 1.2rem;
      }
    }

    .modal-panel__description {
      font-size: .9rem;
    }
  }
}

// Project List
.project-list {
  display: grid;
  gap: 1rem;
  max-width: 100%;

  .project-item {
    display: grid;
    grid-template-columns: 1fr 20fr;
    padding: 1.4rem;
    border: 1px solid gainsboro;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      
      .radio-group {

        .input-radio {
          border: 1px solid map.get($theme-colors, 'primary');
        }
      }

      .project-item__title {

        label {
          color: map.get($theme-colors, 'primary');
          cursor: pointer;
          transition: .4s all ease;
        }

        small {
          font-weight: 700;
          transition: .4s all ease;
        }
      }
    }

    &.selected {
      margin: -2px;
      border: 2px solid map.get($theme-colors, 'primary');

      .project-item__title {

        small {
          font-weight: 700;
        }
      }
    }

    &.disabled {
      cursor: not-allowed;
      opacity: 50%;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .radio-group {
      grid-column: 1;
      grid-row: 1;
      align-self: center;
      margin: 0;
      margin-right: 1rem;
    }

    .project-item__title {
      display: flex;
      flex-flow: column wrap;
      grid-column: 2;
      grid-row: 1;

      label {
        display: block;
        font-size: .9rem;
        font-weight: 700;
      }

      small {
        display: block;
        margin-top: .4rem;
        color: map.get($theme-colors, 'primary');
        font-size: .9rem;
        font-weight: 500;
      }
    }

    .project-item__description {
      grid-column: 2 span;
      grid-row: 2;
      font-size: .9rem;
    }

    .project-item__quantity {
      grid-column: 2 span;
      grid-row: 3;
      margin: 0;

      b {
        margin-right: .4rem;
        color: map.get($theme-colors, 'black');
        font-size: 1.4rem;
      }
    }

    .project-item__control {
      display: flex;
      flex-flow: column wrap;
      grid-column: 2 span;
      margin: 1.4rem -1.4rem -1.4rem;
      padding: 1.4rem;
      border-top: 1px solid gainsboro;

      p {
        font-size: .9rem;
        text-align: center;
      }

      .form-group {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        position: relative;

        &::before {
          content: '$';
          position: absolute;
          left: 25px;
          color: gray;
          font-family: inherit;
          font-weight: 700;
          opacity: 50%;
          z-index: 9999;
        }

        .input[type=number] {
          width: 45%;
          position: relative;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
          }
        }

        .button {
          width: 55%;
          padding: 1rem .8rem;
        }
      }
    }
  }
}

.success-modal {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 1.4rem;
  background: rgba(0, 0, 0, 0.35);
  z-index: 999;

  .success-modal__panel {
    width: 100%;
    max-width: 730px;
    padding: 2rem;
    background-color: map.get($theme-colors, 'background');
    border-radius: 10px;
    text-align: center;
  }
}

footer {
  padding: 2rem 0;

  .footer-attribution {
    font-size: .8rem;
    text-align: center;

    a {
      color: map.get($theme-colors, 'primary');
    }
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }
  
  .container {
    padding: 0 4rem;
  }

  // Buttons
  .button-icon {

    small {
      display: inline-block;
    }
  }

  .page-cover {
    min-height: 400px;
  }

  #crowdfunding-section {

    .header-panel {
      padding: 3rem;

      p {
        font-size: 1rem;
      }

      .button-group {
        margin-top: 2.4rem;
      }
    }
    
    .stats-panel {
      padding: 3rem;

      .stats {
        flex-flow: row nowrap;
        align-items: center;

        .stat {
          flex: 1;
          text-align: left;
        }

        .line {
          width: 1px;
          min-height: 75px;
          margin: 0 1.4rem;
        }
      }

      .stats-progress-bar {
        margin: 1.4rem 0 0;
      }
    }

    .about-panel {
      padding: 3rem;

      > h2 {
        font-size: 1.4rem;
      }

      > p {
        font-size: 1rem;
      }

      .crowd-funding__projects {
        margin-top: 2.4rem;

        .crowd-funding__project {
          padding: 2rem;
          
          .project-title {
            flex-flow: row nowrap;
            justify-content: space-between;

            h3 {
              font-size: 1.2rem;
            }
          }

          .project-controls {
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            margin-top: 1.4rem;
            
            p {
              margin: 0;
            }
          }
        }
      }
    }
  }

  // Modals
  .project-modal {

    .modal-panel {
      padding: 3rem;

      .modal-panel__title {

        h2 {
          font-size: 1.4rem;
        }
      }

      .modal-panel__description {
        font-size: 1rem;
      }
    }
  }

  // Project List
  .project-list {

    .project-item {
      grid-template-columns: 1fr 20fr 1fr;
      grid-template-rows: 1 1;

      .radio-group {
        grid-column: 1;
        grid-row: 1;
      }

      .project-item__title {
        flex-flow: row nowrap;
        align-items: center;
        gap: 1rem;
        grid-column: 2;
        grid-row: 1;

        label {
          font-size: 1rem;
        }

        small {
          margin: 0;
          font-size: 1rem;
        }
      }

      .project-item__description {
        grid-column: 2 / span 3;
        grid-row: 2;
        font-size: 1rem;
      }

      .project-item__quantity {
        grid-column: 3;
        grid-row: 1;
      }

      .project-item__control {
        grid-column: span 3;
        grid-row: 3;
        flex-flow: row nowrap;
        justify-content: space-between;

        p {
          font-size: 1rem;
        }

        .form-group {

          > * {
            flex: 1;
            max-width: 140px;
          }
        }
      }
    }
  }

  .success-modal {

    .success-modal__panel {
      max-width: 540px;
      padding: 4rem;

      img {
        width: 100px;
      }
    }
    
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 1.4rem;
  }

  .page-cover {
    background-image: url(../public/images/image-hero-desktop.jpg) !important;
  }

  header {

    .container {
      max-width: 1400px;
    }
  }

  .nav {
    min-height: 125px;

    .nav-menu-hamburger {
      display: none;
    }

    .nav-menu {
      display: block;
      position: initial;
      width: initial;
      padding: 0;
      background: none;
      z-index: 9999;

      .nav-menu__links {
        flex-flow: row nowrap;
        gap: 2rem;
        background-color: transparent;
        border-radius: 0;

        li {
          width: initial;
          border: none;

          a {
            padding: 0;
            color: #fff;
            font-size: 1rem;
            font-weight: 400;
            cursor: pointer;

            &:hover {
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}