@use 'sass:map';

@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

$font-main: 'Commissioner', sans-serif;

$theme-colors: (
  'primary': hsl(176, 50%, 47%),
  'secondary': hsl(176, 72%, 28%),
  'black': hsl(0, 0%, 0%),
  'gray': hsl(0, 0%, 48%),
  'background': rgb(250, 250, 250)
);

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-main;
  background-color: map.get($theme-colors, 'background');
}

// Texts
h1, h2, h3, h4, h5, h6 {
  color: map.get($theme-colors, 'black');
}

p {
  color: map.get($theme-colors, 'gray');
  line-height: 1.6rem;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1.4rem;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
  z-index: 999;
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 80px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .nav-menu-hamburger {
    width: 50px;
    height: 50px;
    margin-right: -1rem;
    background-image: url(../public/images/icon-hamburger.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .nav-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 6rem 1.4rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.00));
    z-index: -1;

    .nav-menu__links {
      margin: 0;
      padding: 0;
      list-style: none;
      background-color: map.get($theme-colors, 'background');
      border-radius: 8px;
      overflow: hidden;

      li {
        width: 100%;
        border-top: 1px solid gainsboro;

        &:first-child {
          border-top: none;
        }

        a {
          display: inline-block;
          width: 100%;
          padding: 1.6rem 1.4rem;
          color: map.get($theme-colors, 'black');
          font-size: 1.2rem;
          font-weight: 500;
          text-decoration: none;
          transition: .2s background-color ease;

          &:hover {
            background-color: gainsboro;
          }
        }
      }
    }
  }
}

// Buttons
.button {
  min-height: 56px;
  max-height: 56px;
  margin: 0;
  padding: 1rem 2.8rem;
  border: none;
  border-radius: 32px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  outline: none;
  cursor: pointer;
}

.button-primary {
  background-color: map.get($theme-colors, 'primary');
  color: #fff;
}

.button-icon {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  min-height: 56px;
  max-height: 56px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 32px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  outline: none;
  overflow: hidden;
  cursor: pointer;

  small {
    display: none;
    margin: 0 2rem 0 1rem;
  }
}

.button-close {
  appearance: none;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  background-image: url(../public/images/icon-close-menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  border: none;
  outline: none;
  cursor: pointer;
}

// Inputs
.input {
  margin: 0;
  padding: 1rem .8rem;
  border: 1px solid gainsboro;
  border-radius: 32px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  outline: none;
}

.input-radio {
  appearance: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 24px;
  height: 24px;
  margin: 0;
  border: 1px solid gainsboro;
  border-radius: 100%;

  &::before {
    content: '';
    display: none;
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: map.get($theme-colors, 'primary');
    border-radius: 100%;
  }

  &:checked {

    &::before {
      display: block;
    }
  }
}

.page-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -999;
}

.panel {
  width: 100%;
  max-width: 730px;
  margin: 0 auto;
  padding: 1.4rem;
  background-color: #fff;
  border: 1px solid gainsboro;
  border-radius: 10px;
}

#crowdfunding-section {
  padding: 14rem 0 2rem;

  .container {
    display: flex;
    flex-flow: column wrap;
    gap: 1.4rem;
  }

  // CrowdFundingHeader
  .header-panel {

    > h1, > p {
      text-align: center;
    }

    > img {
      position: absolute;
      left: 44%;
      transform: translateY(-100%)
    }

    .button-group {
      display: flex;
      flex-direction: row nowrap;
      align-items: center;
      justify-content: space-between;
    }
  }

  // CrowdFundingStats
  .stats-panel {

    .stats {
      display: flex;
      flex-flow: column wrap;
      gap: 1rem;
      text-align: center;

      .stat {

        b {
          display: block;
          margin-bottom: .4rem;
          color: map.get($theme-colors, 'black');
          font-size: 2rem;
        }
      }

      .line {
        width: 100px;
        height: 1px;
        margin: 0 auto;
        background-color: gainsboro;
      }
    }

    .stats-progress-bar {
      width: 100%;
      min-height: 10px;
      margin: 1rem 0;
      background-color: map.get($theme-colors, 'background');
      border-radius: 32px;

      .stats-progress-bar__fill {
        width: 0%;
        min-height: 10px;
        background-color: map.get($theme-colors, 'primary');
        border-radius: 32px;
      }
    }
  }

  .about-panel {

    .crowd-funding__projects {
      display: grid;
      grid-template-columns: 1;
      gap: 1rem;

      .crowd-funding__project {

        .project-title {
          display: flex;
          flex-flow: column wrap;

          h3 {
            margin: 0 0 .4rem;
            font-size: 1rem;
          }

          p {
            margin: 0;
            color: map.get($theme-colors, 'primary');
          }
        }

        .project-description {
          font-size: 15px;
        }

        .project-controls {

          p {
            margin: 2rem 0;

            b {
              color: map.get($theme-colors, 'black');
              font-size: 2rem;
              vertical-align: bottom;
            }
          }
        }
      }
    }
  }
}

// Modals
.project-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  padding: 8rem 1.4rem;
  background: rgba(0, 0, 0, 0.35);
  overflow-y: scroll;
  z-index: 999;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .modal-panel {
    max-width: 730px;
    margin: 0 auto;
    padding: 1.4rem;
    background-color: #fff;
    border-radius: 10px;

    .modal-panel__title {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;

      h2 {
        margin: 0;
      }
    }

    .modal-panel__description {
      font-size: .9rem;
    }
  }
}

// Project List
.project-list {
  display: grid;
  gap: 1rem;
  max-width: 100%;

  .project-item {
    padding: 1.4rem;
    border: 1px solid gainsboro;
    border-radius: 8px;
    cursor: pointer;

    &.selected {
      margin: -2px;
      border: 2px solid map.get($theme-colors, 'primary');
    }

    &.disabled {
      cursor: not-allowed;
      opacity: 50%;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .project-item__title {

      .radio-group {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 1rem;

        .text-group {

          label {
            display: block;
            font-size: .9rem;
            font-weight: 700;
          }

          small {
            display: block;
            margin-top: .4rem;
            color: map.get($theme-colors, 'primary');
            font-size: .9rem;
          }
        }
      }
    }

    .project-item__description {
      font-size: .9rem;
    }

    .project-item__quantity {
      margin: 0;

      b {
        margin-right: .4rem;
        color: map.get($theme-colors, 'black');
        font-size: 1.4rem;
      }
    }

    .project-item__control {
      margin: 1.4rem -1.4rem -1.4rem;
      padding: 1.4rem;
      border-top: 1px solid gainsboro;

      p {
        font-size: .9rem;
        text-align: center;
      }

      .form-group {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        .input {
          position: relative;
          width: 45%;

          &::before {
            content: '$';
            display: block;
            width: 16px;
            height: 16px;
            color: gainsboro;
            z-index: 99999;
          }
        }

        .button {
          width: 55%;
          padding: 1rem .8rem;
        }
      }
    }
  }
}

footer {
  padding: 2rem 0;

  .footer-attribution {
    font-size: .8rem;
    text-align: center;

    a {
      color: map.get($theme-colors, 'primary');
    }
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 4rem;
  }

  .page-cover {
    min-height: 400px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 1.4rem;
  }
}