@use 'sass:map';

@import '../../../variables.scss';

.label-group {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    label {
        color: map.get($theme-colors, 'dark-grayish-cyan');
        font-weight: 700;
    }

    .error-message {
        margin: 0;
        color: red;
        font-weight: 700;
    }
}