@use 'sass:map';

@import '../../../variables.scss';

.radio-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: .6rem;

    input {
        height: 50px;

        &::placeholder {
            color: map.get($theme-colors, 'dark-grayish-cyan');
            font-size: 1.5rem;
        }
    }

    input[type=radio] {
        appearance: none;
        display: block;
        margin: 0;
        background-color: map.get($theme-colors, 'dark-cyan');
        border-radius: 4px;
        color: #fff;
        font-family: $font-main;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 50px;
        text-align: center;
        cursor: pointer;

        &:focus,
        &:checked {
            background-color: map.get($theme-colors, 'primary');
            color: map.get($theme-colors, 'dark-cyan');
        }

        &::before {
            content: attr(data-content);
        }
    }

    label {
        display: none;
    }
}

@media (min-width: 768px) {
    .radio-group {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}