.tip-percentage-radios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .8rem;

    .input-group {

        input {

            &::placeholder {
                font-size: 1.4rem;
            }
        }
    }
}